* {
    border: none;
    font-family: "CaskaydiaCove Nerd Font Mono", Arial, sans-serif;
    font-size: 13px;
    padding: 0;
    margin: 0;
    border-radius: 0;
    color: white;
}

window#waybar {
    background-color: rgba(29, 32, 33, 0.8);
}

#workspaces {
    margin-right: 0.5em;
}

#workspaces button {
    background-color: transparent;
}

#workspaces button.focused {
    background-color: #458588;
}

#workspaces button.urgent {
    background-color: #cc241d;
}

#clock,
#privacy,
#battery,
#network,
#pulseaudio,
#tray {
    border-right: 1px solid rgba(251, 241, 199, 0.2);
    padding-left: 8px;
    padding-right: 8px;
}


#battery {
    background-color: #ffffff;
    color: #000000;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network.disconnected {
    color: #cc241d;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #cc241d;
}
